/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*end of reset*/

@font-face {
	font-family: 'Raleway';
	src:
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  font-family: 'Raleway', Arial, sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix::after, .clearfix::before {
  clear: both;
  content: '';
  display: table;
}

/*Navigation*/
#navigation {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  position: relative;
}

#companyname-top {
  float: left;
  padding: 10px 0px 10px 40px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
#companyname-top > span {
  color: #27c7ab;
}

.menu ul {
  text-align: right;
}
.menu > ul > li {
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  padding: 10px 40px 10px 0;
  line-height: 20px;
  position: relative;
  z-index: 1;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}
.menu > ul > li > ul {
  width: 130px;
  font-size: 16px;
  line-height: 30px;
  background-color: black;
  padding: 10px 0px 10px 15px;
  position: absolute;
  top: 55px;
  left: -30px;
  display: none;
  list-style-type: none;
  text-align: left;
  text-transform: none;
}
.arrow {
  border: 12px solid transparent;
  border-bottom: 12px solid black;
  width: 0;
  height: 0;
  position: absolute;
  top: -24px;
  left: 50px;
}

/*Section 1: chair description*/

#chair-description {
  width: 100%;
  height: 480px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(4%, #ffffff), color-stop(11%, #ffffff), color-stop(17%, #FFFFFF), color-stop(30%, #F6F6F6), color-stop(100%, #C9C9C9));
}

.chair {
  height: 400px;
  float: left;
  margin-top: 80px;
  position: relative;
}

.chair-slider {
  width: 40%;
}

 /*Slider*/
.slider img {
  background-repeat: no-repeat;
  background-size: contain;
}

.slider ul{
  list-style: none;
}

.slider li{
  display: none;
}
.slider .visible {
  display: block;
}

#prev {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  top: 140px;
}

#next {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 215px;
  right: 40px;
}

.lead {
  width: 60%;
  text-align: center;
  padding: 50px 150px 0 30px;
  position: relative;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  word-spacing: 3px;
}

h1 > span {
  font-weight: 900;
  color: #27c7ab;
}
.chair > p {
  margin: 20px 10px 20px 10px;
  font-size: 16px;
  line-height: 25px;
}

.see-more {
  text-transform: uppercase;
  background-color: #27c7ab;
  width: 50%;
  height: 50px;
  border-radius: 7px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
}

/*Section 2 products*/
#products {
  width: 100%;
  height: 370px;
}

.box {
  display: inline-block;
  border: 1px solid #d2d2d2;
  vertical-align: top;
  position: relative;
  top: 35px;
  width: 30%;
  height: 224px;
  margin-right: 25px;
}

.pic1 {
  background-image: url('../images/box1_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.pic2 {
  background-image: url('../images/box2_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-line {
  width: 47%;
  height: 8px;
  background-color: #27c7ab;
  position: absolute;
  bottom: 28px;
  left: 15px;
}

.inputs {
  padding: 0px 15px 0 15px;
  color: #8a8a8a;
}
.inputs > .sub-line {
  position: absolute;
  top: 35px;
}

.box > p:first-child {
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
}

.box > p > span {
  text-transform: uppercase;
}

.pic1 > p {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 143px 0 50px 0px;
  padding: 5px 0 9px 15px;
  line-height: 18px;
}

.pic2 > p {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 143px 0 50px 0px;
  padding: 5px 0 9px 15px;
  line-height: 18px;
}

/*Section - price*/
#price {
  width: 100%;
  height: 700px;
  background-color: #f9f9f9;
}

.price-info > h2 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 40px;
}

.sub-line-long {
  width: 30%;
  height: 8px;
  background-color: #27c7ab;
  margin: 5px 0 60px 0;`
}

.big-circle {
  width: 58px;
  height: 58px;
  border: 2px solid #d2d2d2;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 145px;
  top: -35px;
}

.small-circle {
  width: 27px;
  height: 27px;
  background-color: #d2d2d2;
  border-radius: 50%;
  margin: 12.5px auto;
}

.price-plans {
  width: 30%;
  height: 500px;
  border: 2px solid #d2d2d2;
  background-color: #ffffff;
  text-align: center;
  color: #27c7ab;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.price-plans > p {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  padding: 30px 0 20px 0;
  font-weight: 600;
}

.price-sup {
  border: 2px solid #d2d2d2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 22px 2px 30px 0;
  color: #9e9e9e;
}
.price-sup > p {
  text-transform: uppercase;
  font-weight: 600;
}
.price-sup > p:first-child {
  font-size: 32px;
}
.price-sup > p:nth-child(2) {
  font-size: 14px;
  line-height: 28px;
}
.price-conditions {
  font-size: 24px;
  line-height: 42px;
  margin: 35px auto;
  color: #9e9e9e;
}
.price-conditions > p:nth-child(2n+1) {
  background-color: #e6e6e6;
}
.price-conditions > p:nth-child(2n+2) {
  background-color: #f5f5f5;
  color: #8a8a8a;
}

.join {
  width: 35%;
  height: 35px;
  text-transform: uppercase;
  background-color: #27c7ab;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  position: absolute;
  left: 113px;
  bottom: 20px;
}

/*Price plan nr2*/
.price-plans:nth-child(2n+2) {
    background-color: #27c7ab;
    color: #ffffff;
}
.option-two .big-circle {
  background-color: #27c7ab;
  border: 1px solid #27c7ab;
}
.option-two .small-circle {
  background-color: #ffffff;
}

.option-two .price-sup {
  background-color: white;
  color: #27c7ab;
  border: 1px solid #ffffff;
}
.option-two .price-conditions {
  color: #9e9e9e;
}
.option-two .join {
  background-color: #ffffff;
  color: #27c7ab;
}

/*Contact form*/
#contact {
  width: 100%;
  height: 600px;
}

.contact {
  height: 400px;
  display: inline-block;
  vertical-align: bottom;
}
.contact-left {
  width: 60%;
}
.contact-right {
  width: 30%;
  margin-left: 46px;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 40px;
}

.contact-left input {
  font-family: inherit;
  border: 1px solid #27c7ab;
  width: 100%;
  height: 55px;
  font-size: 24px;
  padding: 0 10px;
}

textarea {
  font-family: inherit;
  width: 100%;
  font-size: 24px;
  padding: 10px 10px;
  border: 1px solid #27c7ab;
}
.red-chair {
  margin: 0 40px 30px 40px;
}

.submit input {
  text-transform: uppercase;
  background-color: #27c7ab;
  width: 100%;
  height: 65px;
  border-radius: 7px;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 30px;
}
.agree-area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e9e9e;
}

/*Input checkbox agree*/
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #27c7ab;
    background-image: url("images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
input[type="checkbox"]:checked + label span {
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
}

input[type="checkbox"] + label{
  font-size: 16px;
  font-weight: 500;
  color: #969393;
}

/*Footer*/
#footer-info {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  color: #9e9e9e;
}

.footer {
  display: inline-block;
  vertical-align: bottom;
  line-height: 40px;
}

.social {
  width: 80%;
}
.social a img {
  float: right;
  padding: 0 3px;
}

.footer-logo {
  width: 19%;
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
}

.footer-logo > span {
  font-weight: 900;
}
